/* universal selector */
* {color: black;}

/* id selector */
#feature {color: rgb(0, 195, 255);}

#classification {color: rgb(50, 195, 255);}

#history {color: rgb(100, 195, 255);}

#reference {color: rgb(150, 195, 255);}

/* class selector */
h1.heading {color: rgb(60, 84, 218);}

.largeText {font-size: 2.5rem;}


/* grouping selector */
h3, h4 {color : rgb(161, 62, 253);}

/* descendant selector */
div.link1 a {color : rgb(161, 62, 253);}
div.link2 a {color :rgb(97, 49, 255)}