body {
    font-size: 1.05rem;
    font-family: 'Zen Kurenaido', sans-serif;
    color: black;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;

    background-image: url('../images/bkg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

*::selection {
    color: white;
    background-color: rgb(228, 220, 220);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.flexible{
    display: flexbox;
    flex-direction: column;
}

.direct {
    cursor: pointer;
    text-decoration: underline;
}

.direct.pageHead {
    color : rgb(194, 230, 255);
}

.egHead::after {
    content : "\25bc";
}

.center.flexible.section {
    background-color: rgb(185, 180, 180);
    position: relative;
    width: 60rem;
    padding-bottom: 5px;
    text-align: center;
    letter-spacing: 0.3rem;
}

.explainList {
    list-style-type: disc;
}

.banner1 {
    border-color: black;
    background-color: black;
}

#hiragana, #katakana {
    background-color: rgb(185, 180, 180);
    font-size: 2rem;
    border-style: dashed;
    border-spacing: 1.5rem;
}