body {
    font-size: 1.05rem;
    font-family: 'Shippori Mincho', serif;
    color: black;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;

    background-image: url('images/bkg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

*::selection {
    color: white;
    background-color: rgb(228, 220, 220);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.direct {
    cursor: pointer;
    text-decoration: underline;
}

.direct.pageHead {
    color : rgb(194, 230, 255);
}

.egHead::after {
    content : "\25bc";
}

.center.explainSection {
    background-color: rgb(185, 180, 180);
    position: relative;
    height: 12rem;
    width: 50rem;
    letter-spacing: 0.2rem;
}

.center.exampleSection {
    background-color: rgb(185, 180, 180);
    position: relative;
    height: 9rem;
    width: 50rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

.center.exampleSection2 {
    background-color: rgb(185, 180, 180);
    position: relative;
    height: 19rem;
    width: 60rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

.explainSection h3 {
    margin-left: 1rem;
    line-height: 3rem;
}

.explainList {
    list-style-type: disc;
}

.banner1 {
    border-color: black;
    background-color: black;
}

#hiragana, #katakana {
    background-color: rgb(185, 180, 180);
    font-size: 2rem;
    border-style: dashed;
    border-spacing: 1.5rem;
}