* {color: black;}

h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1rem;}

h1.heading {
    color : rgb(194, 230, 255);
}


h3::after {
    content : "\25bc";
}

*::selection {
    color: white;
    background-color: rgb(185, 180, 180);
}

.section {
    background-color: rgb(185, 180, 180);
    position: relative;
    height: 150px;
    width: 500px;
}

#hiragana, #katakana {
    border-style: dashed;
    border-spacing: 30px;
}